{
  "extends": ["airbnb", "prettier"],
  "globals": {},
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-is-valid": "off",

    "react/button-has-type": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "warning",
    "react/sort-comp": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",

    "lines-between-class-members": "off",
    "no-console": [0, ""],
    "array-callback-return": "off",
    "consistent-return": "off",
    "linebreak-style": "off"
  }
}
