<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">My Web Shop</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="overview">Overview</a></li>
      </ul>
    </div>
  </nav>
  <div class="alert alert-warning" *ngIf="errorMessage">
    {{this.errorMessage}}
  </div>
  <div class="row">
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3">
      <basket></basket>
    </div>
  </div>
